/* Media Query for Mobile Phones */
@media only screen and (max-width: 767px) {
  body {
    font-size: 14px;
    line-height: 1.4;
    background-color: white;
  }

  header {
    background-color: #545;
    padding: 10px;
    color: #121;
  }

  .main-content {
    margin: 10px;
  }
}

/* Media Query for Tablets */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  body {
    background-color: white;
    font-size: 16px;
    line-height: 1.6;
  }

  header {
    background-color: #545;
    padding: 15px;
    color: #121;
  }

  .main-content {
    margin: 20px;
  }
}
